[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
bs4 = "*"
selenium = "*"
lxml = "*"

[requires]
python_version = "3.7"
